SECRET_KEY='введите ваш секретный ключ'

DEBUG=True

DB_NAME='введите свое название базы данных'
DB_USER='введите собственные значения'
DB_PASSWORD= 'введите пароль пользователя базы данных'
DB_HOST='введите свой хост'
DB_PORT='введите свой порт'

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST='smtp.yandex.ru'
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER='Введите свой адрес почты'
EMAIL_HOST_PASSWORD='введите пароль от вашего почтового аккаунта'