SECRET_KEY=

DEBUG=

DB_NAME='введите собственные значения'
DB_USER='введите собственные значения'
DB_PASSWORD= 'введите собственные значения'
DB_HOST='введите собственные значения'
DB_PORT='введите собственные значения'