{% extends 'catalog/catalog_base.html' %}

{% block content %}
    <div class="container">
        {% if form.instance.pk %}Редактировать продукт{% else %}Создать продукт{% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="position: absolute; left: -9999px;">
                {{ form.honeypot.errors }}
                {{ form.honeypot }}
            </div>

            {% for field in form %}
                {% if field.name != 'honeypot' %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class %}

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'catalog:products' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}

